
*{
  margin:0;
}

.container{
  margin:auto 0;
}
input{
  text-align:center;
}

#twit-list{
  with: 100%;
}

#pause-btn{
  position: fixed;
  bottom: 12px;
  right: 12px;
  border-radius:50%
}

.flex-div {
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
}
