
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./css/stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <title> Hashtag Rain-Admin </title>
  </head>

  <body>

    <div class="container">
    <div class="mb-2">
      <div class='row d-flex align-items-center justify-content-around bg-light text-danger bg-light w-100 rounded'>
        <a class="navbar-brand " href="/"><h1 class="text-primary">Hashtag Rain</h1></a>
      </div>
    </div>

    <a href="/">Home</a>

      <div class="flex-div">
        <h1> Hashtag Filter Settings</h1>
      </div>

      <div class="flex-div">
        <div class="d-inline-block text-center">
          <p>Please Select Search Logic</p>
          <select class="form-control mb-3 text-center" id="logic-select">
            <option class="text-center" value="AND">AND, Match All Search Parameters</option>
            <option value="OR"> OR, Match One Of The Search Parameters</option>
          </select>
        </div>
      </div>

      <div class="flex-div">
          <div class="filter-input-field form-group d-block">
            <label for="hashtag-input"> Hashtag:  </label>
            <input id="hashtag-input" class="admin-input w-50 ml-1 form-control d-inline-block" name="track" placeholder="Enter hashtag ">
          </div>
          <div class="filter-input-field form-group d-block">
            <label for="location-input"> location:  </label>
            <input id="location-input" class="admin-input w-50 ml-1 form-control d-inline-block" name="location" placeholder="Enter location " >
          </div>
          <div class="filter-input-field form-group d-block">
            <label for="username-input"> User name: </label>
            <input id="username-input" class="admin-input w-50 ml-1 form-control d-inline-block" name="follow" placeholder=" Enter user name " >
          </div>
      </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/admin.js"></script>

  </body>
</html>
